<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CAD.Properties.Settings.AgendaConnectionString" connectionString="Data Source=JULIETH\SQLEXPRESS;Initial Catalog=Agenda;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>